@import url('bootstrap/dist/css/bootstrap.min.css' );

.task{
    width: 400px;
}

.list-group-item{
    margin-top:10px;
    left : 0;
    text-align:left;
     width: 800px;

}
.box{
    width: 100px;
}